# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
    'Enable surround': 'surround:activate'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'surround'
      'submenu': [
        { 'label': 'Activate', 'command': 'surround:activate' }
      ]
    ]
  }
]
