# OOPS! Good job with your dilligent hunting, but vim-surround's keybindings
# are actually completely dynamic, so it doesn't use this file.... So I'll use
# this as a guest book. Send me a PR!

# # OFFICIAL VIM-SURROUND GUEST BOOK :+1:

# George Marchin ~ Hi Mom!
